h1, h2 {
    margin: 0 0 5px 0;
}
section  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span, p {
    padding: 0 12px;
    margin: 0;
}
.main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    min-height: calc(100vh - 58px);
    .image {
   
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 300px;
            height: 300px;
        }
               
    }
    .round {
        margin-bottom: 10px;
        background-color: $grisOscuro;
        border-radius: 50%;
    }
}
.stats {
    align-items: stretch;
    background-color: $blanco;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    h2 {
        color: $grisOscuro;
    }
    @include tablet {
        @include grid(2, 1fr);
        align-items: stretch;
    }

}

.title-main {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: $blanco;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    h1 {
        color: $grisOscuro;
    }
}
.title-main p {
    display: flex;
    align-items: center;
}
.section-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: $blanco;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;

    h2{
        color: $grisOscuro;
        text-transform: capitalize;
        font-size: 24px;
    }
    p {
        color: $grisOscuro ;
        text-transform: capitalize;
        font-size: 24px;
    }

}

.main-type {
    text-align: center;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}
.types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type-height, .type-weight {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center
}
.main-base_stats {

    @include grid(2, 1fr);
    align-items: end;
    justify-items: start;
    h4 {
        color: $grisOscuro;
        margin-bottom: 0;
        margin-left: 4px;
    }
    p {
        width: 100%;
        text-align: end;
        
    }
    
}
.type-pokemon {
    padding: 6px 12px;
    border-radius: 14%;
    background-color: rgb(181, 204, 181) ;
}
.ability {
    //@include grid(2, 1fr);
    // align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-transform: capitalize;
    @include tablet {
        flex-direction: column;
        align-items: center;
        p {
            padding-bottom: 10px;
            
        }
    }
}